.todos-wrap {
    display: flex;
}

.todos-list {
    max-width: 20%;
    flex-basis: 20%;
    height: 100vh;
    overflow-y: auto;

    box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.4);
}

.todo-screen {
    display: flex;
    max-width: 80%;
    flex-basis: 80%;
    justify-content: center;
    align-items: center;
}

.animate-showing {
    animation: slideInAnimation 500ms;
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover svg {
    width: 130px;
    height: 130px;
}

@keyframes slideInAnimation {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}